<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>17517939700-ff55nogkkijaki78v2eqhc02f4606s45.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.17517939700-ff55nogkkijaki78v2eqhc02f4606s45</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>17517939700-p8o6fbkebibuo8bqa3kaedosfajhfc4g.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCmx6Ylg3BwtXSJJI7cQzP1WmgbGKc--BE</string>
	<key>GCM_SENDER_ID</key>
	<string>17517939700</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.zolattetask</string>
	<key>PROJECT_ID</key>
	<string>zolattetask</string>
	<key>STORAGE_BUCKET</key>
	<string>zolattetask.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:17517939700:ios:80c41c66e587cd5fb047a1</string>
</dict>
</plist>